<div class="content content-narrow">
    <!--    <input type="file" select-ng-files ng-model="files">-->
    <form class="js-validation-material push-10-t" data-ng-submit="submitDuAnForm()" method="post">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark "><span class="caption-subject bold uppercase"> {{'Order Header'}}</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="form-group col-md-10">
                        <div class=" form-horizontal">
                            <label class="col-md-4 control-label" style="text-align: right;">Tên đơn hàng</label>
                            <div class="col-md-4">
                                <input type="text" name="tem_name"
                                       data-ng-model="theOrder.NAME"
                                       id="tem_name"
                                       class="form-control"
                                >
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-10">
                        <div class="form-horizontal">
                            <label class="control-label col-md-4" style="text-align: right;">Kênh phân phối
                                <span class="required" aria-required="true"></span>
                            </label>
                            <div class="col-md-4">
                                <select class="form-control js-example-basic-single" name="options2"
                                        tabindex="-1" aria-hidden="true" aria-required="true" aria-invalid="false"
                                        aria-describedby="options2-error"
                                        data-ng-model="theOrder.DC"
                                        data-ng-options="dc.VTWEG as dc.VTEXT for dc in dc"
                                        disabled="disabled">
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-10">
                        <div class="form-horizontal">
                            <label class="control-label col-md-4" style="text-align: right;">Ngày trả hàng
                                <span class="required" aria-required="true"></span>
                            </label>
                            <div class="col-md-4">
                                <input id="input" class="form-control" name="date" style="width: 100%"
                                       data-ng-model="theDate"/>
                                <script>
                                    $('#input').datepicker({format: 'dd/mm/yyyy', footer: true, modal: true});
                                </script>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-10">
                        <div class="form-horizontal">
                            <label class="control-label col-md-4" style="text-align: right;">Loại đơn hàng
                                <span class="required" aria-required="true"></span>
                            </label>
                            <div class="col-md-4">
                                <select class="form-control js-example-basic-single" name="options2"
                                        tabindex="-1" aria-hidden="true" aria-required="true" aria-invalid="false"
                                        aria-describedby="options2-error"
                                        data-ng-model="theOrder.ORDER_TYPE"
                                        data-ng-options="orderTypes.AUART as orderTypes.BEZEI for orderTypes in orderTypes"
                                        disabled="disabled">
                                </select>

                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-10">
                        <div class="form-horizontal">
                            <label class="control-label col-md-4" style="text-align: right;">Payment Term
                                <span class="required" aria-required="true"></span>
                            </label>
                            <div class="col-md-4" >
                                <select class="form-control js-example-basic-single" name="options2"
                                        tabindex="-1" aria-hidden="true" aria-required="true" aria-invalid="false"
                                        aria-describedby="options2-error"
                                        data-ng-model="theOrder.DIVISION"
                                        data-ng-options="division.SPART as division.VTEXT for division in division"
                                        disabled="disabled"
                                >
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-10">
                        <div class="form-group">
                            <label class="col-md-4 control-label" style="text-align: right;">Ghi chú</label>
                            <div class="col-md-8">
                                <textarea class="form-control" rows="2" data-ng-model="theOrder.NOTE"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </form>
</div>
<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption font-dark">
            <i class="font-dark"></i>
            <span class="caption-subject bold uppercase"> Chi tiết đơn hàng</span>
        </div>
    </div>
    <div class="portlet-body">
        <div class="table-toolbar">
            <div class="row">
                <div class="col-md-6">
                    <div class="btn-group">
                        <button id="sample_editable_1_new" class="btn sbold green" data-ng-click="addNew()"> Thêm mới
                        </button>
                        <!--                        <button id="sample_editable_2_new" class="btn sbold green" data-ng-click="save()"-->
                        <!--                                style="margin-left: 10px;"> Update Template-->
                        <!--                        </button>-->
                    </div>
                </div>

            </div>
        </div>
        <div id="sample_1_wrapper" class="dataTables_wrapper no-footer">
            <div class="table-scrollable">
                <table class="table table-striped table-bordered table-hover order-column dataTable no-footer"
                       id="sample_1" role="grid" aria-describedby="sample_1_info">
                    <thead>
                    <tr role="row">
                        <th class="sorting" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" 
                            aria-label=" Email : activate to sort column ascending"> Sản phẩm
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" style="width: 100px;"
                            aria-label=" Status : activate to sort column ascending"> Số lượng
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1"  style="width: 70px"
                            aria-label=" Joined : activate to sort column ascending"> Đơn vị
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1"  style="width: 150px"
                            aria-label=" Actions : activate to sort column ascending"> Thao tác
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="gradeX odd" role="row" data-ng-repeat="i in theOrder.ITEMS track by $index">
                        <td class="sorting_1">
                            <select class="form-control " name="options2"
                                    tabindex="-1" aria-hidden="true" aria-required="true" aria-invalid="false"
                                    aria-describedby="options2-error"
                                    data-ng-model="i.MATNR"
                                    ng-change="loadUnit($index, i.MATNR)"
                                    data-ng-options="maras.MATNR as maras.MAKTX for maras in maras" disabled="disabled">
                            </select>
                        </td>
                        <td class="sorting_1">
                            <input type="text" name="target_quantity"
                                data-ng-model="i.QUANTITY"
                                id="sales_doc_type2" style="text-align: right;"
                                class="form-control">
                        </td>
                        <td class="sorting_1">
                            {{i.UNIT}}
                        </td>
                        <td>
                            <button data-ng-click="edit(i.MATNR)" class="btn btn-xs btn-success"
                                    type="button"
                                    title="Detail">Chi tiết
                            </button>
                            <button data-ng-click="delTem($index)" class="btn btn-xs btn-danger"
                                    type="button"
                                    title="Delete" style="margin-left: 5px">Xóa
                            </button>
                        </td>

                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="portlet light bordered">
    <div class="portlet-body">

        <div class="row">
            <div class="form-group col-md-6">
                <div class="btn-group">
                    <button id="sample_editable_3_new" class="btn sbold green"
                            data-ng-click="submit(theConfigTem, customerDetail)"> Gửi đơn hàng
                    </button>
                    <button id="sample_editable_4_new" class="btn sbold red" data-ng-click="cancel()"
                            style="margin-left: 10px;"> Hủy
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- dialog body -->
            <div class="modal-body">
                <div class="portlet box blue" style="border: none!important;">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-gift"></i>Thông số kỹ thuật: {{name}}
                        </div>
                    </div>
                    <div class="portlet-body form">
                        <!-- BEGIN FORM-->
                        <form class="form-horizontal form-bordered ng-pristine ng-valid">
                            <div class="form-body">
                                <div class="portlet light bordered">
                                    <div class="portlet-title">
                                        <div class="caption font-dark "><span
                                                class="caption-subject bold uppercase"> Nhóm 1</span>
                                        </div>
                                    </div>
                                    <div class="portlet-body">
                                        <div class="form-group" style="border: none"
                                             data-ng-repeat="character in characters track by $index">
                                            <label class="control-label col-md-4" data-ng-if="character.ZGROUP==='01'">{{character.SMBEZ}}</label>
                                            <div class="col-md-8" data-ng-if="character.ZGROUP==='01'">
                                                <select type="text" data-ng-if="character.value_default.length > 0"
                                                        class="form-control" data-ng-model="character.VALUE"
                                                        data-ng-options="character.VALDESCR as character.VALDESCR for character in character.value_default"
                                                >
                                                </select>
                                                <input type="text" data-ng-if="character.value_default.length === 0"
                                                       class="form-control" data-ng-model="character.VALUE">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>

                            </div>
                            <div class="form-body">
                                <div class="portlet light bordered">
                                    <div class="portlet-title">
                                        <div class="caption font-dark "><span
                                                class="caption-subject bold uppercase"> Nhóm 2</span>
                                        </div>
                                    </div>
                                    <div class="portlet-body">
                                        <div class="form-group" style="border: none"
                                             data-ng-repeat="character in characters track by $index">
                                            <label class="control-label col-md-4" data-ng-if="character.ZGROUP==='02'">{{character.SMBEZ}}</label>
                                            <div class="col-md-8" data-ng-if="character.ZGROUP==='02'">
                                                <select type="text" data-ng-if="character.value_default.length > 0"
                                                        class="form-control" data-ng-model="character.VALUE"
                                                        data-ng-options="character.VALDESCR as character.VALDESCR for character in character.value_default"
                                                >
                                                </select>
                                                <input type="text" data-ng-if="character.value_default.length === 0"
                                                       class="form-control" data-ng-model="character.VALUE">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>

                            </div>
                            <div class="form-body">
                                <div class="portlet light bordered">
                                    <div class="portlet-title">
                                        <div class="caption font-dark "><span
                                                class="caption-subject bold uppercase"> Nhóm 3</span>
                                        </div>
                                    </div>
                                    <div class="portlet-body">
                                        <div class="form-group" style="border: none"
                                             data-ng-repeat="character in characters track by $index">
                                            <label class="control-label col-md-4" data-ng-if="character.ZGROUP==='03'">{{character.SMBEZ}}</label>
                                            <div class="col-md-8" data-ng-if="character.ZGROUP==='03'">
                                                <select type="text" data-ng-if="character.value_default.length > 0"
                                                        class="form-control" data-ng-model="character.VALUE"
                                                        data-ng-options="character.VALDESCR as character.VALDESCR for character in character.value_default"
                                                >
                                                </select>
                                                <input type="text" data-ng-if="character.value_default.length === 0"
                                                       class="form-control" data-ng-model="character.VALUE">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>

                            </div>
                            <div class="form-body">
                                <div class="portlet light bordered">
                                    <div class="portlet-title">
                                        <div class="caption font-dark "><span
                                                class="caption-subject bold uppercase"> Nhóm 4</span>
                                        </div>
                                    </div>
                                    <div class="portlet-body">
                                        <div class="form-group" style="border: none"
                                             data-ng-repeat="character in characters track by $index">
                                            <label class="control-label col-md-4" data-ng-if="character.ZGROUP==='04'">{{character.SMBEZ}}</label>
                                            <div class="col-md-8" data-ng-if="character.ZGROUP==='04'">
                                                <select type="text" data-ng-if="character.value_default.length > 0"
                                                        class="form-control" data-ng-model="character.VALUE"
                                                        data-ng-options="character.VALDESCR as character.VALDESCR for character in character.value_default"
                                                >
                                                </select>
                                                <input type="text" data-ng-if="character.value_default.length === 0"
                                                       class="form-control" data-ng-model="character.VALUE">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-offset-3 col-md-9">
                                        <button type="submit" class="btn green" data-ng-click="submitPopup(material)">
                                            <i class="fa fa-check"></i> Submit
                                        </button>
                                        <button type="button" class="btn default" data-dismiss="modal">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!-- END FORM-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--<script  type="text/javascript">$('.js-example-basic-single').select2();</script>-->

