<nav class="quick-nav nav-is-visible" style="top: 80%;">

    <ul style="padding: 15px 0 0">
        <li>
            <a title="Comment" data-ng-click="chats(theOrder.ID_ORDER)">
                <i class="fa fa-comments"></i>
                <span class="badge badge-danger">{{check ? check : 0}} </span>
            </a>
        </li>
    </ul>
    <span aria-hidden="true" class="quick-nav-bg"></span>
</nav>
<div class="content content-narrow">
    <form class="js-validation-material push-10-t" data-ng-submit="submitDuAnForm()" method="post">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark "><span class="caption-subject bold uppercase"> {{'Order Header'}}</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="form-group col-md-6">
                        <div class=" form-horizontal">
                            <label class="col-md-3 control-label" style="text-align: left">Name Order</label>
                            <div class="col-md-8">
                                <input type="text" name="tem_name"
                                       data-ng-model="theOrder.NAME"
                                       id="tem_name"
                                       class="form-control"
                                >
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-6">

                        <div class="form-horizontal">
                            <label class="control-label col-md-3" style="text-align: left">Distribution Channel
                                <span class="required" aria-required="true"></span>
                            </label>
                            <div class="col-md-8">
                                <select class="form-control js-example-basic-single" name="options2"
                                        tabindex="-1" aria-hidden="true" aria-required="true" aria-invalid="false"
                                        aria-describedby="options2-error"
                                        data-ng-model="theOrder.DC"
                                        data-ng-options="dc.VTWEG as dc.VTEXT for dc in dc"
                                        disabled="disabled"
                                >
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-horizontal">
                            <label class="control-label col-md-3" style="text-align: left">Requirement delivery date
                                <span class="required" aria-required="true"></span>
                            </label>

                            <div class="col-md-8">
                                <input id="input" style="width: 100%" data-ng-model="theOrder.Z_DATE"/>
                                <script>
                                    $('#input').datetimepicker({footer: true, modal: true});
                                </script>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <div class="form-horizontal">
                            <label class="control-label col-md-3" style="text-align: left">Order Type
                                <span class="required" aria-required="true"></span>
                            </label>
                            <div class="col-md-8">
                                <select class="form-control " name="options2"
                                        tabindex="-1" aria-hidden="true" aria-required="true" aria-invalid="false"
                                        aria-describedby="options2-error"
                                        data-ng-model="theOrder.AUART"
                                        disabled="disabled"
                                        data-ng-options="orderTypes.AUART as orderTypes.BEZEI for orderTypes in orderTypes">

                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 15px">
                    <div class="form-group col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label">Note</label>
                            <div class="col-md-8">
                                <textarea class="form-control" rows="3" data-ng-model="theOrder.NOTE"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <div class="form-horizontal">
                            <label class="control-label col-md-3" style="text-align: left">Payment Term
                                <span class="required" aria-required="true"></span>
                            </label>
                            <div class="col-md-8">
                                <select class="form-control js-example-basic-single" name="options2"
                                        tabindex="-1" aria-hidden="true" aria-required="true" aria-invalid="false"
                                        aria-describedby="options2-error"
                                        data-ng-model="theOrder.DIVISION"
                                        data-ng-options="division.SPART as division.VTEXT for division in division"
                                        disabled="disabled"
                                >
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 15px">
                    <div class="form-group col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label">Net value</label>
                            <div class="col-md-8">
                                <input class="form-control" rows="3" data-ng-model="theOrder.NET_VALUE"
                                       disabled="disabled"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </form>
</div>
<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption font-dark">
            <i class="font-dark"></i>
            <span class="caption-subject bold uppercase"> Order detail</span>
        </div>
    </div>
    <div class="portlet-body">

        <div id="sample_1_wrapper" class="dataTables_wrapper no-footer">
            <div class="table-scrollable">
                <table class="table table-striped table-bordered table-hover order-column dataTable no-footer"
                       id="sample_1" role="grid" aria-describedby="sample_1_info">
                    <thead>
                    <tr role="row">
                        <th class="sorting" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1"
                            aria-label=" Email : activate to sort column ascending"> Sản phẩm
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1"
                            aria-label=" Status : activate to sort column ascending"> Số lượng
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1"
                            aria-label=" Joined : activate to sort column ascending"> Đơn vị
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1"
                            aria-label=" Actions : activate to sort column ascending"> Thao tác
                        </th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr class="gradeX odd" role="row" data-ng-repeat="i in theOrder.ITEMS track by $index">
                        <td class="sorting_1">
                            <div class="col-md-12"><input type="text" name="material_number"
                                                          data-ng-model="i.NAME"
                                                          id="material_number"
                                                          class="form-control"
                            ></div>
                        </td>
                        <td class="sorting_1">
                            <div class="col-md-5"><input type="text" name="target_quantity"
                                                         data-ng-model="i.QUANTITY"
                                                         id="sales_doc_type2"
                                                         class="form-control"
                            ></div>
                        </td>
                        <td class="sorting_1">
                            <div class="col-md-4"><input type="text" name="sales_doc_type"
                                                         data-ng-model="i.SALE_UNIT"
                                                         id="sales_doc_type3"
                                                         class="form-control"
                                                         disabled="disabled"
                            ></div>
                        </td>

                        <td>
                            <div class="btn-group">
                                <!--                                <button data-ng-click="edit($index)" class="btn btn-xs btn-success"-->
                                <!--                                        type="button"-->
                                <!--                                        title="Detail">Detail-->
                                <!--                                </button>-->
                                <button data-ng-click="edit(i.MATNR)" class="btn btn-xs btn-success"
                                        type="button"
                                        title="Detail">Detail
                                </button>

                            </div>

                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="portlet light bordered">
    <div class="portlet-body">
        <div class="row">
            <div class="form-group col-md-6">
                <div class="btn-group" data-ng-repeat="action in action track by $index">
                    <button id="sample_editable_3_new" class="btn sbold green"
                            data-ng-click="update()"
                            data-ng-if="action.FUNCTIONMODULE === 'UPDATE_ORDER' && theOrder.STATUS !== 'S' && theOrder.STATUS !== 'R' && theOrder.ID_APPROVE === userData.id_user">
                        UPDATE
                    </button>
                </div>
                <div class="btn-group">
                    <button id="sample_editable_4_new" class="btn sbold green"
                            ui-sref="Order.list" style="margin-left: 10px"> DONE
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="myModalImage" class="modal fade">
    <div class="modal-dialog">
        <!-- dialog body -->
        <div class="modal-content" style="width: 730px; height: auto">
            <!-- dialog body -->
            <div class="modal-body">
                <div class="portlet box blue" style="border: none!important;">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-gift"></i>Ảnh đơn hàng
                        </div>
                    </div>
                    <div class="portlet-body form">
                        <!-- BEGIN FORM-->
                        <form class="form-horizontal form-bordered ng-pristine ng-valid">
                            <div class="form-body">
                                <img src="data:image/png;base64,{{theOrder.ZIMAGE}}" width="700px" height="500px"/>
                            </div>
                            <div class="form-actions">
                                <!--                                    <div class="col-md-offset-3 col-md-9">-->
                                <div class="col-md-9">
                                    <div flow-init
                                         flow-name="uploader.flow"
                                         flow-files-added="processFiles($files, theOrder.ID_ORDER)">
                                        <button flow-btn type="file" class="btn btn-xds btn-success">Thay đổi</button>
                                        <button class="btn btn-xds btn-danger" data-dismiss="modal">Done</button>
                                    </div>
                                </div>
                                <!--                                    <div class="col-md-offset-3 col-md-9">-->
                                <!--                                        <button class="btn btn-xs btn-success" data-dismiss="modal">Done  </button>-->
                                <!--                                    </div>-->
                            </div>
                        </form>
                        <!-- END FORM-->
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div id="chatbox" ng-style="{display: cbValue == true? 'static':'none'}">

    <!-- dialog body -->
    <div class="portlet light bordered" style="z-index: 1000;
    /* top: 20%; */
    bottom: 0%;
    right: 5%;
    width: 25%;
    position: fixed;">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-bubble font-hide hide"></i>
                <span class="caption-subject font-hide bold uppercase">Comments</span>

            </div>
            <div class="actions">
                <div class="portlet-input input-inline">
                    <div class="input-icon right">
                        <button type="button" class="close" data-ng-click="closeModal()" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
<!--                        <i class="icon-magnifier"></i>-->
<!--                        <input type="text" class="form-control input-circle" placeholder="search...">-->
                    </div>
                </div>
            </div>
        </div>
        <div class="portlet-body" id="chats">
            <div class="slimScrollDiv"
                 style="position: relative; overflow: hidden; width: auto; height: 300px;">
                <div class="scroller" style="height: 100%; width: auto; overflow: auto;">
                    <ul class="chats" data-ng-repeat="chat in messengers track by $index">
                        <li class="out" data-ng-if="chat.type==='out'">
                            <div class="message">
                                <span class="arrow"> </span>
                                <a href="javascript:;" class="name"> {{chat.USERNAME}} </a>
                                <span class="datetime">at {{chat.Z_TIME}} </span>
                                <span class="body">{{chat.ZMESSAGE}}</span>
                            </div>
                        </li>
                        <li class="in" data-ng-if="chat.type==='in'">
                            <div class="message">
                                <span class="arrow"> </span>
                                <a href="javascript:;" class="name"> {{chat.USERNAME}} </a>
                                <span class="datetime">at {{chat.Z_TIME}} </span>
                                <span class="body">{{chat.ZMESSAGE}}</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="chat-form">
                <div class="input-cont">
                    <input class="form-control" type="text" placeholder="Type a message here..."
                           data-ng-model="message"  ng-keypress="getKeys($event, theOrder.ID_ORDER, message)"></div>
                <div class="btn-cont">

                    <span class="arrow"> </span>
                    <button href="" class="btn blue icn-only" data-ng-click="sendMessage(theOrder.ID_ORDER, message)">
                        <i class="fa fa-check icon-white"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- dialog body -->
            <div class="modal-body">
                <div class="portlet box blue" style="border: none!important;">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-gift"></i>Thông số kỹ thuật
                        </div>
                    </div>
                    <div class="portlet-body form">
                        <!-- BEGIN FORM-->
                        <form class="form-horizontal form-bordered ng-pristine ng-valid">
                            <div class="form-body">
                                <div class="portlet light bordered">
                                    <div class="portlet-title">
                                        <div class="caption font-dark "><span
                                                class="caption-subject bold uppercase"> Nhóm 1</span>
                                        </div>
                                    </div>
                                    <div class="portlet-body">
                                        <div class="form-group" style="border: none"
                                             data-ng-repeat="character in characters track by $index">
                                            <label class="control-label col-md-4" data-ng-if="character.ZGROUP==='01'">{{character.SMBEZ}}</label>
                                            <div class="col-md-8" data-ng-if="character.ZGROUP==='01'">
                                                <select type="text" data-ng-if="character.value_default.length > 0"
                                                        class="form-control" data-ng-model="character.VALUE"
                                                        data-ng-options="character.VALDESCR as character.VALDESCR for character in character.value_default"
                                                >
                                                </select>
                                                <input type="text" data-ng-if="character.value_default.length === 0"
                                                       class="form-control" data-ng-model="character.VALUE">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>

                            </div>
                            <div class="form-body">
                                <div class="portlet light bordered">
                                    <div class="portlet-title">
                                        <div class="caption font-dark "><span
                                                class="caption-subject bold uppercase"> Nhóm 2</span>
                                        </div>
                                    </div>
                                    <div class="portlet-body">
                                        <div class="form-group" style="border: none"
                                             data-ng-repeat="character in characters track by $index">
                                            <label class="control-label col-md-4" data-ng-if="character.ZGROUP==='02'">{{character.SMBEZ}}</label>
                                            <div class="col-md-8" data-ng-if="character.ZGROUP==='02'">
                                                <select type="text" data-ng-if="character.value_default.length > 0"
                                                        class="form-control" data-ng-model="character.VALUE"
                                                        data-ng-options="character.VALDESCR as character.VALDESCR for character in character.value_default"
                                                >
                                                </select>
                                                <input type="text" data-ng-if="character.value_default.length === 0"
                                                       class="form-control" data-ng-model="character.VALUE">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>

                            </div>
                            <div class="form-body">
                                <div class="portlet light bordered">
                                    <div class="portlet-title">
                                        <div class="caption font-dark "><span
                                                class="caption-subject bold uppercase"> Nhóm 3</span>
                                        </div>
                                    </div>
                                    <div class="portlet-body">
                                        <div class="form-group" style="border: none"
                                             data-ng-repeat="character in characters track by $index">
                                            <label class="control-label col-md-4" data-ng-if="character.ZGROUP==='03'">{{character.SMBEZ}}</label>
                                            <div class="col-md-8" data-ng-if="character.ZGROUP==='03'">
                                                <select type="text" data-ng-if="character.value_default.length > 0"
                                                        class="form-control" data-ng-model="character.VALUE"
                                                        data-ng-options="character.VALDESCR as character.VALDESCR for character in character.value_default"
                                                >
                                                </select>
                                                <input type="text" data-ng-if="character.value_default.length === 0"
                                                       class="form-control" data-ng-model="character.VALUE">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>

                            </div>
                            <div class="form-body">
                                <div class="portlet light bordered">
                                    <div class="portlet-title">
                                        <div class="caption font-dark "><span
                                                class="caption-subject bold uppercase"> Nhóm 4</span>
                                        </div>
                                    </div>
                                    <div class="portlet-body">
                                        <div class="form-group" style="border: none"
                                             data-ng-repeat="character in characters track by $index">
                                            <label class="control-label col-md-4" data-ng-if="character.ZGROUP==='04'">{{character.SMBEZ}}</label>
                                            <div class="col-md-8" data-ng-if="character.ZGROUP==='04'">
                                                <select type="text" data-ng-if="character.value_default.length > 0"
                                                        class="form-control" data-ng-model="character.VALUE"
                                                        data-ng-options="character.VALDESCR as character.VALDESCR for character in character.value_default"
                                                >
                                                </select>
                                                <input type="text" data-ng-if="character.value_default.length === 0"
                                                       class="form-control" data-ng-model="character.VALUE">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-offset-3 col-md-9">
                                        <button type="submit" class="btn green" data-ng-click="submitPopup(material)">
                                            <i class="fa fa-check"></i> Submit
                                        </button>
                                        <button type="button" class="btn default" data-dismiss="modal">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!-- END FORM-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


