<div class="portlet light bordered">
    <div class="portlet-body">
    </div>
    <div class="clearfix margin-bottom-20"></div>
    <div class="portlet-title">
        <div class="caption font-dark">
            <span class="caption-subject bold uppercase"> View detail Price</span>
        </div>
    </div>
    <div class="portlet-body">
        <div id="sample_1_wrapper" class="dataTables_wrapper no-footer">
            <div class="table-scrollable">
                <table class="table table-striped table-bordered table-hover order-column dataTable no-footer"
                       id="sample_1" role="grid" aria-describedby="sample_1_info">
                    <thead>
                    <tr role="row">
                        <th class="sorting" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1"
                            aria-label=" Email : activate to sort column ascending"> Material Numbersdfsdfsd
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1"
                            aria-label=" Status : activate to sort column ascending"> Material description (Short
                            text)
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1"
                            aria-label=" Joined : activate to sort column ascending"> Material description in upper case for matchcodes
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1"
                            aria-label=" Actions : activate to sort column ascending"> Active / Deactive
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="gradeX odd" role="row" data-ng-repeat="value in gt_price_01 track by $index">
                       aaaa 123123 {{value}}
                        <td class="sorting_1">{{value.MATNR}}</td>
                        <td class="sorting_1">{{value.NAME}}</td>
                        <td class="sorting_1">{{value.PRICE}}</td>

                        <td>
                            <span class="label label-sm label-success"
                                  data-ng-if="material.status==='actived'"> Actived </span>
                            <span class="label label-sm label-danger" data-ng-if="material.status==='deactived'"> Deactived </span>
                        </td>

                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-md-5 col-sm-5">
                    <div class="dataTables_info" id="sample_1_info" role="status" aria-live="polite">Showing 21 to
                        25 of
                        25 records
                    </div>
                </div>
                <div class="col-md-7 col-sm-7">
                    <div class="dataTables_paginate paging_bootstrap_full_number" id="sample_1_paginate">
                        <ul class="pagination" style="visibility: visible;">
                            <li class="prev"><a href="#" title="First"><i class="fa fa-angle-double-left"></i></a>
                            </li>
                            <li class="prev"><a href="#" title="Prev"><i class="fa fa-angle-left"></i></a></li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li class="next disabled"><a href="#" title="Next"><i class="fa fa-angle-right"></i></a>
                            </li>
                            <li class="next disabled"><a href="#" title="Last"><i
                                    class="fa fa-angle-double-right"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>