/* here you can put your own css to customize and override the theme */
.page-header-inner h2 {
    font-size: 20px !important;
    font-weight: 700;
    margin: 0
}
.page-logo {
    float: left;
    display: block;
    width: 265px;
    height: 75px;
    padding-left: 20px;
    padding-right: 20px;
}
.green {
    /*background-color: #0f5b33!important;*/
    /*border-color: #0f5b33!important;*/
}

.page-content.login {
    margin-left: 0;
}

/* Styles go here */
body{
    font-family: 'Open Sans', Helvetica, arial, sans-serif;
    font-size: 14px;
}
.header {
    font-size: 20px;
    font-weight: 600;
    padding-top: 0;
    margin-bottom: 10px;
    margin-top: 40px;
}
b{
    font-weight: normal;
    margin-bottom: 10px;
}
pre{
    background: rgb(239, 239, 239);
    font-size: 10px;
}
.ng-invalid{
    border-color: red;
}

/**
 * Email Contacts
 */
.selectize-control.contacts .selectize-input [data-value] .email {
    opacity: 0.5;
}
.selectize-control.contacts .selectize-input [data-value] .name + .email {
    margin-left: 5px;
}
.selectize-control.contacts .selectize-input [data-value] .email:before {
    content: '<';
}
.selectize-control.contacts .selectize-input [data-value] .email:after {
    content: '>';
}
.selectize-control.contacts .selectize-dropdown .caption {
    font-size: 12px;
    display: block;
    opacity: 0.5;
}
.selectize-dropdown {
    position: absolute;
    z-index: 10000; !important; /* adjust as necessary */
    border: 1px solid #d0d0d0;
    background: #ffffff;
    margin: -1px 0 0 0;
    border-top: 0 none;
}
.custom-label-create-user{
    text-align: left
}
.form-group{
    margin-bottom: 5px !important;
}
