<div class="content content-narrow">
    <form class="js-validation-material push-10-t">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="font-dark"></i>
                    <span class="caption-subject bold uppercase"> Thay đổi mật khẩu</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="form-group col-md-8">
                        <div class=" form-horizontal">
                            <label class="col-md-4 control-label custom-label-create-user"><strong>Tên đăng nhập:</strong></label>
                            <div class="col-md-8">
                                <input type="text" name="username"
                                       data-ng-model="userData.username"
                                       id="username"
                                       class="form-control"
                                >
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-8">
                        <div class=" form-horizontal">
                            <label class="col-md-4 control-label custom-label-create-user"><strong>Mật khẩu cũ</strong><span style="color: red">*</span>:</label>
                            <div class="col-md-8">
                                <input type="password" name="oldPassword"
                                       data-ng-model="theUser.password"
                                       id="oldPassword"
                                       class="form-control"
                                >
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-8">
                        <div class=" form-horizontal">
                            <label class="col-md-4 control-label custom-label-create-user"><strong>Mật khẩu mới</strong><span style="color: red">*</span>:</label>
                            <div class="col-md-8">
                                <input type="password" name="newPassword"
                                       data-ng-model="theUser.newPassword"
                                       id="newPassword"
                                       class="form-control"
                                >
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-8">
                        <div class=" form-horizontal">
                            <label class="col-md-4 control-label custom-label-create-user"><strong>Nhập lại mật khẩu</strong><span style="color: red">*</span>:</label>
                            <div class="col-md-8">
                                <input type="password" name="reNewPassword"
                                       data-ng-model="theUser.reNewPassword"
                                       id="reNewPassword"
                                       class="form-control"
                                >
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="portlet-body">
                    <button class="btn btn-sm btn-primary" type="button" data-ng-click="Update()">Lưu mật khẩu
                    </button>
                    <button class="btn btn-sm btn-danger" type="button" data-ng-click="Update()">Hủy
                    </button>
                </div>
            </div>
        </div>       
    </form>
</div>
